name: 'quarto-setup'

on: [push, pull_request]

jobs:
  quarto-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: quarto-dev/quarto-actions/setup@v2
    - run: |
        quarto --version
    - name: Render Quarto Project
      uses: quarto-dev/quarto-actions/render@v2
      with:
        to: html # If set, it will be equivalent to `quarto render --to html`
        path: # By default, the current working dir is used i.e `quarto render .`